@import url('https://fonts.googleapis.com/css?family=Domine|Roboto');


html{
	height:100%;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	background-image: linear-gradient(#431C5B, #852064, #9A1B4E);


}

h1{
	font-family: 'Domine', serif;
}

ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: none;
	padding: none;
}

li{
	padding-left: 10px;
}

main{
	display: flex;
	flex-direction: column;
}

h1, h2, p, #avatar {
	display: flex;
	justify-content: center;
}


