@import url('https://fonts.googleapis.com/css?family=Domine|Roboto');


html{
	height:100%;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-image: linear-gradient(#431C5B, #852064 75%, #9A1B4E);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #9A1B4E;
}

h1{
	font-family: 'Domine', serif;
	color:#fff;
}

h2{
	color:#fff;
}

ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: none;
	padding: none;
}

li{
	padding-left: 10px;
}

main{
	display: flex;
	flex-direction: column;
}

h1, h2, p {
	display: flex;
	justify-content: center;
}

#tower{
  	height: 30%;
  	width: 30%;
  	display: flex;
  	justify-content: space-between;
}

#avatar{
  	height: 20%;
  	width: 20%;
  	display: flex;
  	justify-content: space-between;
}


