body {
    background-image: url(../assets/starbg3.svg), linear-gradient(#99024B 15%, #223CAA, #00BAB5);
    background-repeat: no-repeat;
    background-size: cover, 100% 100%;
    background-color: #00BAB5;
}

@keyframes glowing {
    0% {-webkit-filter: drop-shadow( -0px 0px -10px #FFBD00 );
                filter: drop-shadow( -0px 0px -10px #FFBD00 ); stroke:#FFBD00;} 
   50% {-webkit-filter: drop-shadow( -.75px 0px 10px #FFBD00 );
                filter: drop-shadow( -.75px 0px 10px #FFBD00 ); stroke:#FFBD00;}
   100% {-webkit-filter: drop-shadow( -0px 0px -10px #FFBD00 );
                filter: drop-shadow( -0px 0px -10px #FFBD00 ); stroke:#FFBD00;}
}